Repository jjsizemore/spotify-time-machine: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, type-check, spellcheck

lint-staged:
  run: pnpm exec lint-staged
  follow: true

type-check:
  run: pnpm exec tsc --noEmit

spellcheck:
  run: typos {staged_files}
  stage_fixed: true

fix: remove invalid follow property from lefthook
  lefthook.yml
Due: lint-staged

chore: migrate linting to oxlint and update development tooling
  .github/dependabot.yml
  .kilocode/rules/memory-bank-instructions.md
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/product.md
  .kilocode/rules/memory-bank/tech.md
  .kilocode/rules/sentry.md
  .lintstagedrc.json
  .oxlintrc.json
  .trunk/.gitignore
  .trunk/trunk.yaml
  .vscode/settings.json
  CLAUDE.md
  DEVOPS_IMPROVEMENTS.md
  DEV_TOOLS.md
  IMPROVEMENTS_SUMMARY.md
  LLM_CONTEXT.md
  OXLINT_MIGRATION.md
  TOKEN_MANAGEMENT.md
  TOOL_INSTALLATION.md
  eslint.config.ts
  lefthook.yml
  mise.toml
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/instrumentation-client.ts
  src/components/ClientProviders.tsx
  src/components/analytics/ConsentAwareAnalytics.tsx
  src/components/features/home/FeatureShowcaseItem.tsx
  src/components/ui/ImageModal.tsx
Due: lint-staged, type-check, spellcheck

feat(analytics): migrate to multi-platform analytics with Sentry
  ANALYTICS_MIGRATION.md
  LLM_CONTEXT.md
  commitlint.config.js
  next.config.ts
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/instrumentation-client.ts
  src/app/layout.tsx
  src/components/analytics/ConsentAwareAnalytics.tsx
  src/components/analytics/WebVitalsMonitor.tsx
  src/components/features/controls/DataFetcherAndControlsWrapper.tsx
  src/components/features/visualization/MonthlyTrackList.tsx
  src/components/providers/AnalyticsProviders.tsx
  src/components/providers/ClientProviders.tsx
Due: lint-staged, type-check, spellcheck

chore: update @commitlint/cli to version 20.1.0 and resolve to version 1.22.8
  package.json
  pnpm-lock.yaml
Due: lint-staged

feat: enhance documentation with multi-platform analytics and improved project status
  .kilocode/rules/memory-bank/architecture.md
  .kilocode/rules/memory-bank/brief.md
  .kilocode/rules/memory-bank/context.md
  .kilocode/rules/memory-bank/tech.md
  mise.toml
Due: lint-staged, spellcheck

chore(linting): fix all linting warnings
  IMPLEMENTATION_SUMMARY.md
  eslint.config.ts
  public/sw.js
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/auth/clear-session/route.ts
  src/app/api/auth/refresh-token/route.ts
  src/app/history/page.tsx
  src/app/instrumentation-client.ts
  src/app/layout.tsx
  src/app/playlist-generator/page.tsx
  src/app/thank-you/page.tsx
  src/components/analytics/StorageMonitor.tsx
  src/components/features/controls/GranularitySelector.tsx
  src/components/features/stats/RecentlyPlayed.tsx
  src/components/features/stats/StatsTabs.tsx
  src/components/features/stats/TopArtists.tsx
  src/components/features/stats/TopTracks.tsx
  src/components/features/stats/TrackItem.tsx
  src/components/features/visualization/GenreTrendsVisualization.tsx
  src/components/features/visualization/ListeningTrends.tsx
  src/components/features/visualization/VisualizationContainer.tsx
  src/components/layout/Breadcrumb.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Navigation.tsx
  src/components/ui/ErrorDisplay.tsx
  src/hooks/useLikedTracks.ts
  src/lib/cacheUtils.ts
  src/lib/genreUtils.ts
  src/lib/spotify.ts
  src/lib/spotifyTrackUtils.ts
Due: lint-staged, type-check, spellcheck

chore(ci): remove pnpm version from action; run pre-push security non-interactively (TERM=dumb)
  .github/workflows/test.yml
  lefthook.yml
Due: lint-staged

fix(tests): stabilize Vitest sharding and merge coverage in CI
  .github/workflows/test.yml
  SHARDED_TEST_DEBUG_CHECKLIST.md
  SHARDED_TEST_FIXES.md
  package.json
  vitest.config.ts
Due: lint-staged, type-check, spellcheck

fix(tests): remove invalid 'blob' coverage reporter and add CI debug for Vitest sharding
  .github/workflows/test.yml
  SHARDING_FIX_APPLIED.md
  SHARDING_QUICK_DEBUG.md
  SHARDING_VERIFICATION.md
  package.json
  vitest.config.ts
Due: lint-staged, type-check, spellcheck

test: add comprehensive unit & integration regression tests and harden CI sharding
  .github/workflows/test.yml
  tests/integration/auth-flow.test.ts
  tests/integration/spotify-api-integration.test.ts
  tests/unit/actions.test.ts
  tests/unit/spotify-api.test.ts
  tests/unit/tokenUtils.test.ts
Due: lint-staged, type-check, spellcheck

chore(ci): upgrade Codecov action to v5 and replace sticky PR comment with github-script
  .github/workflows/test.yml
Due: lint-staged

chore(ci): add CI workflows, cache cleanup, security scans, docs & validation script
  .github/workflows/cache-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dotenv_linter.yml
  .github/workflows/test.yml
  CI_CD_OPTIMIZATION.md
  CI_CD_QUICK_REFERENCE.md
  CI_CD_SUMMARY.md
  README.md
  scripts/validate-ci-cd.sh
Due: lint-staged, spellcheck

docs: reorganize docs into docs/ (Diátaxis) and add comprehensive guides
  README.md
  docs/DOCUMENTATION_REORGANIZATION.md
  docs/INDEX.md
  docs/README.md
  docs/STRUCTURE_OVERVIEW.md
  docs/development/DEV_TOOLS.md
  docs/development/TOOL_INSTALLATION.md
  docs/explanation/ANALYTICS_MIGRATION.md
  docs/explanation/DEVOPS_IMPROVEMENTS.md
  docs/explanation/DOMAIN_MIGRATION.md
  docs/explanation/IMPLEMENTATION_SUMMARY.md
  docs/explanation/IMPROVEMENTS_SUMMARY.md
  docs/explanation/OXLINT_MIGRATION.md
  docs/explanation/SHARDING_FIX_APPLIED.md
  docs/explanation/TOKEN_MANAGEMENT.md
  docs/how-to/CI_CD_OPTIMIZATION.md
  docs/how-to/CI_CD_SUMMARY.md
  docs/how-to/SHARDED_TEST_FIXES.md
  docs/reference/BRANDING.md
  docs/reference/CI_CD_QUICK_REFERENCE.md
  docs/reference/CLAUDE.md
  docs/reference/LLM_CONTEXT.md
  docs/reference/QUICK_REFERENCE.md
  docs/reference/SHARDED_TEST_DEBUG_CHECKLIST.md
  docs/reference/SHARDING_QUICK_DEBUG.md
  docs/reference/SHARDING_VERIFICATION.md
  docs/reference/TODO.md
Due: lint-staged, spellcheck

chore(ci): remove explicit pnpm version from pnpm/action-setup in workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
Due: lint-staged

docs: reorganize docs into docs/ (Diátaxis) and add comprehensive guides + tooling script
  .vscode/settings.json
  docs/INDEX.md
  docs/development/dev-tools.md
  docs/development/tool-installation.md
  docs/documentation-reorganization.md
  docs/explanation/analytics-migration.md
  docs/explanation/devops-improvements.md
  docs/explanation/domain-migration.md
  docs/explanation/implementation-summary.md
  docs/explanation/improvements-summary.md
  docs/explanation/oxlint-migration.md
  docs/explanation/sharding-fix-applied.md
  docs/explanation/token-management.md
  docs/how-to/ci-cd-optimization.md
  docs/how-to/ci-cd-summary.md
  docs/how-to/sharded-test-fixes.md
  docs/reference/CLAUDE.md
  docs/reference/branding.md
  docs/reference/ci-cd-quick-reference.md
  docs/reference/llm-context.md
  docs/reference/quick-reference.md
  docs/reference/sharded-test-debug-checklist.md
  docs/reference/sharding-quick-debug.md
  docs/reference/sharding-verification.md
  docs/reference/todo.md
  docs/structure-overview.md
  scripts/rename-docs-kebab.sh
Due: lint-staged, spellcheck

feat(env): add client-safe PUBLIC_ENV, simplify env validation, and propagate through app
  .env
  .env.example
  .github/workflows/dependency-review.yml
  README.md
  package.json
  scripts/generate-build-version.js
  scripts/update-readme-badges.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/error.tsx
  src/app/manifest.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/lib/analytics.ts
  src/lib/cacheUtils.ts
  src/lib/clientEnv.ts
  src/lib/env.ts
  src/lib/envConfig.ts
  src/lib/seo.ts
  src/lib/spotify.ts
Due: lint-staged, type-check, spellcheck

chore(hooks): run full quality checks on pre-push
  lefthook.yml
  scripts/update-readme-badges.ts
Due: lint-staged, type-check, spellcheck

chore(build): run prebuild update-readme-badges with tsx and add tsx to lockfile
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix(ci): integrate dotenvx, modernize workflows, relax env validation, and add docs
  .env.example
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  GITHUB_ACTIONS_FIX_CHECKLIST.md
  GITHUB_ACTIONS_FIX_README.md
  docs/explanation/github-actions-fix.md
  docs/how-to/ci-cd-optimization.md
  docs/how-to/ci-cd-summary.md
  docs/how-to/github-actions-dotenvx-setup.md
  docs/reference/quick-reference.md
  docs/reference/sharding-quick-debug.md
  next.config.ts
  src/lib/env.ts
Due: lint-staged, type-check, spellcheck

chore(ci): remove CodeQL workflow and bump upload-artifact to v5
  .github/workflows/codeql.yml
  .github/workflows/test.yml
  docs/reference/sharded-test-debug-checklist.md
  docs/reference/sharding-verification.md
Due: lint-staged, spellcheck

test: centralize test config, run tests with .env.test, and tune CI/vitest
  .github/workflows/ci.yml
  .github/workflows/test.yml
  docs/explanation/test-environment-isolation.md
  package.json
  tests/integration/api.test.ts
  tests/integration/auth-flow.test.ts
  tests/setup/global-setup.ts
  tests/setup/test-config.ts
  tests/unit/example.test.tsx
  tests/unit/spotify-api.test.ts
  tests/utils/test-utils.tsx
  vitest.config.ts
Due: lint-staged, type-check, spellcheck

chore(turbo): optimize turbo.json, add check:parallel script, and documentation
  .github/copilot-instructions.md
  .gitignore
  GITHUB_ACTIONS_FIX_CHECKLIST.md
  GITHUB_ACTIONS_FIX_README.md
  README.md
  docs/INDEX.md
  docs/explanation/turborepo-optimization.md
  docs/explanation/turborepo-single-package-update.md
  docs/reference/quick-reference.md
  package.json
  turbo.json
Due: lint-staged, spellcheck

chore(ci): expose turbo env to CI jobs; add Turborepo remote-cache docs, README links
  .github/workflows/ci.yml
  .github/workflows/test.yml
  README.md
  docs/INDEX.md
  docs/explanation/turborepo-optimization.md
  docs/explanation/turborepo-remote-cache-implementation.md
  docs/how-to/turborepo-remote-cache-checklist.md
  docs/how-to/turborepo-remote-cache-setup.md
  lefthook.yml
Due: lint-staged, spellcheck

chore(deps): upgrade deps and trigger redeploy
  README.md
  package.json
  pnpm-lock.yaml
Due: lint-staged, spellcheck

fix(config): make nextauth_url optional in preview
  lefthook.yml
  src/lib/configUtils.ts
Due: lint-staged, type-check, spellcheck

chore(security): generate CSP nonce -> layout/providers/scripts
  src/app/layout.tsx
  src/components/providers/AnalyticsProviders.tsx
  src/components/providers/ClientProviders.tsx
  src/proxy.ts
Due: lint-staged, type-check, spellcheck

chore(ci): add dotenv-linter workflow to lint .env files on pull requests
  .github/workflows/dotenv_linter.yml
Due: lint-staged

fix(pwa/sw): disable service worker in local dev, use globalThis & improve caching
  public/sw.js
  src/app/auth/error.tsx
  src/app/auth/signin/page.tsx
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/history/page.tsx
  src/app/layout.tsx
  src/components/layout/Navigation.tsx
  src/components/providers/DomainMigrationHandler.tsx
  src/components/providers/NextAuthProvider.tsx
  src/hooks/useSpotify.ts
  src/lib/cacheUtils.ts
  src/proxy.ts
Due: lint-staged, type-check, spellcheck

chore(deps): update dependencies
  .gitignore
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
Due: lint-staged, spellcheck

refactor(ui): simplify AppleIcon, update global CSS import, and improve Footer spacing
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/app/apple-icon.tsx
  src/app/globals.css
  src/components/layout/Footer.tsx
Due: lint-staged, type-check, spellcheck

chore(deps): migrate to pnpm 11 and update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-staged

docs: add AGENTS.md for coding agent guidance
  AGENTS.md
Due: lint-staged, spellcheck

fix(scripts): preserve trailing newline in README badge replacement
  scripts/update-readme-badges.js
Due: lint-staged, spellcheck

chore: add repo-local fnox Cloudflare token
  fnox.toml
Due: none

Path conditions:
  lint-staged: any of: *.{ts,tsx,js,jsx,json,md,css,yaml,yml}
  type-check: any of: *.{ts,tsx}
  spellcheck: any of: *.{ts,tsx,js,jsx,md}
